################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/Demo_OpenGl/FileContentIndex
/.vs/Demo_OpenGl/v17/ipch/AutoPCH/f1b44879dcccabf9/MAIN.ipch
